<h1>Welcome to fake instagram</h1>
<form action ="/post/create">
  <div class="form-group">
    <label for="exampleInputEmail1">제목</label>
    <input type="text" class="form-control" name="title" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="제목을 입력해주세요">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <input type="text" class="form-control" name ="content" id="exampleInputPassword1" placeholder="내용을 입력해주세요.">
  </div>
   <button type="submit" class="btn btn-primary">글쓰기</button>
</form>

<!--<h1>Welcome to fake instagram</h1>-->
<!--<form action ="/post/create">-->
<!--    제목 <input type="text" name="title"><br>-->
<!--    내용 <input type="text" name="content"><br>-->
<!--    <input type ="submit">-->
<!--</form>-->

<div class="card">
    <div class="card-body"> 
    
    <% @posts.each do |post| %>
    <%= post.id %>번째 글<br>
    제목 :<%= post.title%> </br>
    내용 :<%= post.content%>  
    <a href='/post/show/<%=post.id%>'>[더보기]</a> 
    <a href='/post/modify/<%=post.id%>'>[수정]</a> 
    <a href='/post/destroy/<%= post.id%>'>[삭제]</a></br> 
    <hr>
    <% end%>
    
  </div>
</div>
 
 
 
 

